<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

    <body>

        <%- include('partials/navbar') %>
            <div class="container-fluid p-5">

                <div class="row justify-content-center">

                </div>

                <div class="row justify-content-center">
                    <% if(listings.length > 0){ %>
                        <% for(let listing of listings){ %>
                            <style>
                                a,
                                a:hover,
                                a:focus,
                                a:active {
                                    text-decoration: none;
                                    color: inherit;
                                }
                            </style>
                            <a class="" href="/listing/<%= listing._id %>">
                                <div class="card m-3" style="max-width: 15rem; min-width: 15rem;">
                                    <img style="width: 100%;height: 15vw;object-fit: cover;" class="card-img-top" src="<%= listing.image %>" alt="<%= listing.name %> Image">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <strong><%= listing.name %></strong> -
                                            <%= listing.username %>
                                        </h5>
                                        <p class="card-text">
                                            <strong>Location: </strong>
                                            <%= listing.address %>
                                        </p>
                                        <p class="card-text">
                                            <%= listing.description %>
                                        </p>
                                        <!-- <div class="row justify-content-center">
                                        <a class="btn btn-primary stretched-link" href="/listing/<%= listing._id %>">View</a>
                                    </div> -->
                                    </div>
                                </div>
                            </a>
                            <% } %>
                                <% } else { %>
                                    <div class="alert alert-info row justify-content-center" role="alert">
                                        There are currently no listings available.
                                    </div>
                                    <% } %>
                </div>
            </div>
            <%- include('partials/footer') %>
    </body>

</html>